@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #272822;
    color: white;
    height: 60px;
    font-family: 'Hedvig Letters Serif', serif;
}

.logo img{
    width: 30px;
}

.container{
    width: 60vw;
    margin: auto;
    margin-top: 40px;
}

.toolbar-item .copy-to-clipboard-button{
    background-color: black !important;
    color: white !important;
    border: 1px solid white !important;
    border-radius: 5px !important;
    padding: 2px 5px !important;
    cursor: pointer !important;
}